@import 'google-fonts.css';
/* Body background color variables for themes */
:root {
  --global-clr: #3f51b5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img, svg {
  display: block;
  width: 100%;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
}
::ng-deep {
  margin: 0;
  padding: 0;
}
body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-size: 1.125rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
