<div class="app" [class.light-theme]="selectedTheme === 'light-theme'">
  <div class="app-container">
      <div class="header">
        <h1 class="header-left">{{title}}</h1>
        <div class="header-right">
          
          <img class="theme-icon" 
          src={{themeIconUrl}}
          (click)="switchTheme()"
          />

          <a href="#" class="sign-out-btn">Sign out</a>
        </div>
      </div>
      <div class="todo-input-container">
        <div class="todo-input-btn"></div>
        <input id="addTodoInput"
        placeholder="Create a new todo..."  
        class="todo-input"/>
      </div>
      <div class="todo-list-container">
        <ul class="todo-list">
          <li class="todo-list-item">
            <div class="todo-input-btn completed-check">
            </div>
            <div class="todo-desc-container">
              <p class="todo-description completed-text">Do Thing</p>
              <img class="todo-delete-btn" src="../assets/images/icon-cross.svg"/>
            </div>
          </li>
          <li class="todo-list-item">
            <div class="todo-input-btn">
            </div>
            <div class="todo-desc-container">
              <p class="todo-description">Do Thing</p>
              <img class="todo-delete-btn" src="../assets/images/icon-cross.svg"/>
            </div>
          </li>

        </ul>
        <div class="todo-options-container">
          <p class="todo-number-of">2 items left</p>
          <ul *ngIf="currentBreakpoint === '(min-width: 376px)'" class="todo-statuses">
            <li class="todo-status">All</li>
            <li class="todo-status">Active</li>
            <li class="todo-status">Completed</li>
          </ul>
          <p class="todo-clear-complete">Clear Completed</p>
        </div>
      </div>
      <ul *ngIf="currentBreakpoint !== '(min-width: 376px)'"  class="todo-statuses">
        <li class="todo-status">All</li>
        <li class="todo-status">Active</li>
        <li class="todo-status">Completed</li>
      </ul>
      <p class="instructions">Drag and drop to reorder list</p>

  </div>

  <div class="background-image"></div>
</div>
