
:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

h1 {
  
}

/* Background image container*/
.background {
  background-image: url("../assets/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 300px;
  max-width: 100%;
  position:relative;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 3px solid magenta;
}

.app-container .headline-container .headline h1 {
}